# Build files
Hider/bin/*
Hider/obj/*
FileHider.Lib/bin/*
FileHider.Lib/obj/*
FileHider.Tests/bin/*
FileHider.Tests/obj/*


# User-options files
*.user

# Extra build files
*.exe
*.obj
*.pdb
*.nupkg

# IDE files
.vs/*
